.blue {
  color: #337ab7;
}

.bottom-border {
  border-bottom: 1px solid #eee;
}

.margin-side-3{
    margin-left: 3px;
    margin-right: 3px;
}

.margin-10{
    margin: 10px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border-color: #337ab7;
}
