<nav class="navbar navbar-static-top bottom-border">
  <div class="container-fluid">    
    <div class="navbar-header">
      <h3 class="blue"><i class="fa fa-home fa-lg pull-left"></i>dacha.today</h3>
    </div>
    <div id="navbar" class="navbar-collapse collapse" role="navigation">
      <user-status></user-status>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">    
    <button class="btn btn-primary margin-side-3 col-md-2">Панель управления</button>
    <button class="btn btn-default margin-side-3 col-md-2">Датчики</button>
    <button class="btn btn-default margin-side-3 col-md-2">Котроллеры</button>
    <button class="btn btn-default margin-side-3 col-md-2">Настройки</button>
  </div>
</div>

<camera-player></camera-player>

<!--
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Панель управления</a></li>
  <li role="presentation"><a href="#">Датчики</a></li>
  <li role="presentation"><a href="#">Котроллеры</a></li>
  <li role="presentation"><a href="#">Настройки</a></li>
</ul>-->